tolerations:
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Exists"
    effect: "NoSchedule"
serviceMonitor:
  enabled: true
config:
  service: |
    [SERVICE]
        Daemon Off
        Flush {{ .Values.flush }}
        Log_Level {{ .Values.logLevel }}
        Parsers_File /fluent-bit/etc/parsers.conf
        Parsers_File /fluent-bit/etc/conf/custom_parsers.conf
        HTTP_Server On
        HTTP_Listen 0.0.0.0
        HTTP_Port {{ .Values.metricsPort }}
        Health_Check On

  ## https://docs.fluentbit.io/manual/pipeline/inputs
  inputs: |
    [INPUT]
        Name tail
        Path /var/log/containers/*.log
        multiline.parser docker, cri
        Tag kube.*
        Mem_Buf_Limit 5MB
        Skip_Long_Lines On

    [INPUT]
        Name systemd
        Tag host.*
        Systemd_Filter _SYSTEMD_UNIT=kubelet.service
        Read_From_Tail On

  ## https://docs.fluentbit.io/manual/pipeline/filters
  filters: |
    [FILTER]
        Name kubernetes
        Match kube.*
        Merge_Log Off
        Keep_Log Off
        K8S-Logging.Parser On
        K8S-Logging.Exclude On
    [FILTER]
        Name                nest
        Match               *
        Operation lift
        Nested_under kubernetes
        Add_prefix   kubernetes_
    [FILTER]
        Name                modify
        Match               *
        Copy     kubernetes_namespace_name namespace
        Copy     kubernetes_container_name container_name
    [FILTER]
        Name    grep
        Match   kube.*
        Exclude namespace kube-system
        Exclude namespace logging

  ## https://docs.fluentbit.io/manual/pipeline/outputs
  outputs: |
    [OUTPUT]
        Name es
        Match kube.*
        Host elasticsearch-es-http.logging.svc.cluster.local
        Port 9200
        Index k8s-logs
        Retry_Limit False
        Suppress_Type_Name On
        Replace_Dots On
        Write_Operation create
    [OUTPUT]
        Name syslog
        Match kube.*
        Host 172.27.24.66
        Port 599
        Mode udp
        syslog_format        rfc5424
        syslog_maxsize       2048
        syslog_hostname_key  container_name
        syslog_appname_key   namespace
        syslog_procid_key    procid
        syslog_msgid_key     msgid
        syslog_message_key   log
